<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <title>{% block title %}{{ state_name }}{% endblock %}</title>
   <link rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
   <style type="text/css">
   body {font-family: Georgia, serif; }
   #hd { margin-top:10px;}
   #ft { margin-top:10px; margin-bottom:100px;}
   h1 { font-size:30px; }
   h2 { font-size:25px; text-align:center; }
   </style>
   {% block extra-css %}
   {% endblock %}
   {% block extra-js %}
   {% endblock %}
</head>
<body>
<div id="doc4" class="yui-t7">
   <div id="hd" role="banner">
   {% block header %}
   <div style="float:right; padding-top:2px;">
    <form 
        style="margin-top:2px; padding-bottom:18px;"
        action=""
        method="get">
        
        <select
            style="width:226px; font-size:1.4em;"
            name="state">
            <option value="">Select a state</option>
            {% for obj in state_list %}
                <option value="{{ obj.slug }}">{{ obj.name }}</option>
            {% endfor %}
        </select>
        
        <input 
            style="font-size:1.2em;" 
            type="submit" 
            value="GO" />

    </form>
   </div>
    <div style="float:left;">
       <h1>{{ state_name }}</h1>
    </div>
   {% endblock %}
   </div>
   <div id="bd" role="main">
    <div class="yui-g">
    {% block content %}
    {% endblock %}
    </div>

    </div>
   <div id="ft" role="contentinfo">
   {% block footer %}
   <h2 id="selected-object"></h2>
   {% endblock %}
   </div>
</div>
</body>
</html>
